# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

venv
.env
__init__*
main.cpython*
interview.cpython*
personas.cpython*
models.cpython*
config.cpython*
session_manager.cpython*
utils.cpython*
cv.cpython*
openai_service.cpython*
pdf_service.cpython*
persona_service.cpython*




c